* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Poppins;
  line-height: 21px;
}

:root {
  --gradient: linear-gradient(270deg, #800080 0%, #FF864C 100%)
}

html,
body {
  width: 100vw;
  height: auto;
  overflow-x: hidden !important;
  background-color: #FFFFFF;
}

body::-webkit-scrollbar {
  display: none;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-items: center;
}

.pathContainer {
  width: calc(100vw - 200px);
  margin: 10px auto;
}

.path {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #000000;
}

.contentSection {
  width: calc(100vw - 200px);
  height: auto;
  margin: auto;
  padding: 20px;
  padding-left: 0px;
}

.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 30px;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.faAngleRight {
  text-align: center;
}

.wtdrwCard {
  margin: 10px;
}

.wtdrwCardFrame {
  width: 500px;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  background: #FFFFFF;
  flex-wrap: wrap;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.widthdrawBtn {
  height: 40px;
  width: auto;
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  background: #800080;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wtdrwTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #800080;
}

.wtdrwAmount {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  font-family: Poppins;
}

.referralBox {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

.referalCodeBox {
  height: 50px;
  width: 350px;
  position: relative;
  border-radius: 10px;
  background: var(--gradient);
  margin-top: 15px;
}

.referalCodeBox::before {
  content: "EDCH54";
  display: grid;
  place-content: center;
  width: calc(100% - 64px);
  height: calc(100% - 44px);
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.5em;
  text-align: left;
  position: absolute;
  background-color: #FFFFFF;
  padding: 20px 30px;
}

.referralTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #800080;
  letter-spacing: 0em;
}

.material-symbols-outlined {
  background: var(--gradient);
}


.Header {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #800080;
  margin-bottom: 20px;
}

.detailsCard {
  width: 370px;
  height: auto;
  /* border: 1px solid red; */
  gap: 20px;
  margin: 10px;
}

.dImage {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  /* border: 1px solid red; */
  background: #d9d9d940;
}

.dImage img {
  position: absolute;
}

.detailsCard:nth-child(1) .dImage img {
  top: 20px;
  left: 15px;
}

.detailsCard:nth-child(2) .dImage img {
  top: 20px;
  left: 15px;
}

.detailsCard:nth-child(3) .dImage img {
  top: 20px;
  left: 18px;
}

.detailsCard:nth-child(4) .dImage img {
  top: 20px;
  left: 10px;
}

.detailsCard:nth-child(5) .dImage img {
  top: 20px;
  left: 10px;
}


.dbox {
  flex-wrap: wrap;
}

.dInfo h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
}

.dInfo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4D4D4D;
}

.footerLinkSection {
  margin: 20px 0;
}

.footerLinkSection div {
  margin-bottom: 20px;
}

.footerLinkSection div a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #800080;
}

.referralContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.ReferralTitle {
  color: #800080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

.referralBox1 {
  height: auto;
  width: 150px;
}

.referralCode {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.75em;
}

.referralCodeBox {
  width: auto;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.walletBalance {
  width: 145px;
  height: 85px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(128, 0, 128, 0.15);
  border-radius: 20px;
  display: grid;
  place-content: center;
}

.walletTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #800080;
}

.walletTitle h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.friendsEnrolled h2:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #800080;
  margin-bottom: 10px;
}

.friendsEnrolled h2::nth-child(1) span {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #626262;
}

.EnrolledCardWrapper {
  width: 100%;
  height: 270px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  position: relative;
}

.cover {
  content: "";
  position: fixed;
  right: 110px;
  top: 340px;
  height: 245px;
  width: 104px;
  background: linear-gradient(270deg, #6D6D6D 0%, rgba(61, 49, 49, 0) 42.79%);
}

.EnrolledCardWrapper::-webkit-scrollbar {
  height: 6px;
}

.EnrolledCardWrapper::-webkit-scrollbar-thumb {
  background-color: #800080;
}

.EnrolledCardWrapper::-webkit-scrollbar-track {
  background-color: #ccc;
}

.cards {
  width: 400px;
  height: auto;
  background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
  border-radius: 20px;
  margin: 15px 20px;
  margin-left: 0;
  padding: 20px;
  border-radius: 20px;
  scroll-snap-align: start;
  white-space: nowrap;
  user-select: none;
}

.cardContainer {
  display: flex;
  width: 1260px;
  height: auto;
  position: relative;
  align-content: center;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.row h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 !important;
  color: #FFFFFF !important;
  margin: 0;
}

.row h3,
.h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF !important;
}

.h3 {
  margin: 5px 0;
}


.referralAmnt {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: #FFFFFF !important;
  margin: 0 !important;
}

.amount {
  color: #FFFFFF;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 36px !important;
}

.courseDetails {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: 10px 0;
  overflow-x: hidden;
}

.courseDetails::-webkit-scrollbar {
  width: 5px;
  height: 25px;
}

.courseDetails::-webkit-scrollbar-thumb {
  background-color: #EEAEAE;
  border-radius: 2.5px;
}

.course {
  width: auto;
  height: 23px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 0px 7px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 7px;
}

.goBack {
  color: #800080;
  font-size: 20px;
  margin-bottom: 20px;
}

.arrow {
  height: 15px;
  width: 20px;
  left: 15px;
  top: 12px;
  border-radius: 0px;
  margin-right: 10px;
}

@media screen and (max-width : 1190px) {
  .content {
    padding: 20px;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .referralBox {
    width: 500px;
  }

  .referalCodeBox {
    width: 500px;
  }

}

@media screen and (max-width : 700px) {
  .contentSection {
    width: calc(100vw - 20px);
  }

  .wtdrwCardFrame {
    width: 100%;
    padding: 10px;
  }

  .pathContainer {
    width: 100%;
    margin: 10px 20px;
  }

  .referalCodeBox {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .EnrolledCardWrapper {
    width: 100vw;
    height: auto;
  }

  .cover {
    display: none;
  }


  .cardContainer {
    width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .cards {
    width: 90%;
    border-radius: 20px;
  }

  .EnrolledCardWrapper::-webkit-scrollbar {
    display: none;
  }

  .EnrolledCardWrapper::-webkit-scrollbar-thumb {
    display: none;
  }

}

@media screen and (max-width : 500px) {
  .referalCodeBox {
    width: 100%;
  }

  .content {
    padding: 0px;
  }

  .contentSection {
    width: 100vw;
    padding: 10px;
  }

  .wtdrwCardFrame {
    padding: 0px;
  }

  .referralBox {
    width: 100%;
  }

  .referalCodeBox::before {
    font-size: 18px;
    letter-spacing: 1.2em;
  }

  .detailsCard {
    margin: 0;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 250px) {
  .referalCodeBox::before {
    font-size: 16px;
    letter-spacing: 1em;
    text-align: center;
  }


  .wtdrwCardFrame {
    justify-content: center;
  }
}